* {
  box-sizing: border-box;
  font-size: 62.5%;
}
// a {
//   text-decoration: none;
//   color: white;
// }

header {
  background-color: black;
}

h3 {
  display: inline;
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

button {
  border: none;
  color: inherit;
}
// img {
//   width: 50px;
//   height: 50px;
// }

.fa-github {
  width: 3rem;
  height: 3rem;
  margin: 5px;
  padding: 5px;
  font-size: 3rem;
  color: white;
}

.nav-header {
  background-color: black;
  color: white;
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-left {}

.nav-left input {
  width: 25rem;
  margin-left: 10px;
}

.profile-nav {
  border-bottom: solid 1px #E1E4E8;
}

.pro-nav-buttons {
  font-size: 2.2rem;
  padding: 2px 12px;
  margin: 15px 5px;
  // border-bottom:  solid, 1px, #E1E4E8;
}

.search-repos {
  border-bottom: solid 1px #E1E4E8;
}

.search-repos input {
  width: 50rem;
}

.repo-card {
  border-bottom: solid 1px #E1E4E8;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.star {
  display: flex;
  align-self: center;

}

.repo-name {
  font-size: 6rem;
  margin: 0.5rem;
  height: 2rem;
  display: flex;
}

.repo_name a {
  display: flex;
  width: 50%;

}

.repo-list span {
  font-size: 1rem;
  color: #586068;
  // flex-wrap: nowrap;
  align-items: flex-start;
}

.bio-img {
  height: 27rem;
  width: 27rem;
  overflow: hidden;
}

.orgs img {
  width: 2.2rem;
  height: 2.2rem;

}

.side-bar {
  margin-left: 6rem;
  margin-top: 3rem;
}

.img-status {
  height: 30rem;
  border: solid 1px #E1E4E8;
  border-radius: 2px;
  width: 27rem;
  margin-bottom: 1.5rem;
}

.name-login h1 {
  // width: 27rem;

}

.name-login {
  border-bottom: solid 1px #E1E4E8;
  width: 27rem;
}
